body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

#game {
  width: 95vw;          /* quase toda a largura do ecrã */
  max-width: 600px;     /* limite em telas grandes */
  height: 50vh;         /* metade do ecrã */
  max-height: 350px;
  margin: 20px auto;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
#character {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 40px;
  width: 40px;
  height: 40px;

  animation: walk 0.6s infinite;
}

@keyframes walk {
  0%   { content: "🚶"; }
  25%  { content: "🚶‍♂️"; }
  50%  { content: "🚶"; }
  75%  { content: "🚶‍♀️"; }
}
